{% extends 'main/base.html' %} 
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="card login-card" style="border-radius: 10px;">
  <div class="card-header">
    <h4>Login</h4>
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}{{form|crispy}}
      <p>Don't have an account? Create one <a href="/sign-up">Here</a>!</p>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
</div>
{% endblock %}