{% extends 'main/base.html' %} 
{% block title %}
Registration
{% endblock %}
{% load crispy_forms_tags %} {% block content %}

<div class="card signup-card" style="border-radius: 10px;">
  <div class="card-header">
    <h4>Sign Up</h4>
  </div>
  <div class="card-body" style="border-radius: 25px;">
    <form method="post">
      {% csrf_token %}{{form|crispy}}
      <p>Have an account? Login <a href="/login">Here</a>!</p>
      <button type="submit" class="btn btn-success">Register</button>
    </form>
  </div>
</div>
{% endblock %}