{% extends 'main/base.html' %} 
{% block title %}
Pro Version
{% endblock %} 
{% block content %} 
  <div class="card prompt-card" style="border-radius: 10px;">
    <div class="card-header">
      <h3>Pro Version</h3>
    </div>
    <div class="card-body">
      <div class="alert alert-danger" id="alert" role="alert" style="display: none;">
        Please enter a Prompt! 👾
      </div>
      <label for="models">Choose a model:</label>
      <select name="models" id="models" class="form-control form-control-lg">
        <option value="text-davinci-003">text-davinci-003</option>
        <option value="text-babbage-001">text-babbage-001</option>
        <option value="text-curie-001">text-curie-001</option>
        <option value="text-ada-001">text-ada-001</option>
      </select>

      <label for="levels">Choose a level:</label>
      <select name="levels" id="levels" class="form-control form-control-lg">
        <option value="5">👶</option>
        <option value="10">👦</option>
        <option value="15">👨‍🎓</option>
      </select>

      <label for="query">Enter a prompt</label>
      <input name="query" id="query" class="form-control form-control-lg" maxlength="40">  </input>
      <br />
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="doApiRequest()">Explain It</button>
      <br />
      <center>
      <div id="loader" style="display: none;">
        <div class="spinner-grow text-primary" role="status">
        </div>
        <div class="spinner-grow text-secondary" role="status">
        </div>
        <div class="spinner-grow text-success" role="status">
        </div>
        <div class="spinner-grow text-danger" role="status">
        </div>
        <div class="spinner-grow text-warning" role="status">
        </div>
        <div class="spinner-grow text-info" role="status">
        </div>
        <div class="spinner-grow text-dark" role="status">
        </div>
        </div>
        <div class="container">
          <h4 id="query-heading"> </h4>
          <p class="lead" id="prompt"> </p>
        </div>
      </div>
      </center>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function doApiRequest() {
      document.getElementById("loader").style.display = "block";
      if(document.getElementById("query").value === "") {
        document.getElementById("alert").style.display = "block";
        document.getElementById("query-heading").innerText = ""
        document.getElementById("prompt").innerHTML = "";
        document.getElementById("loader").style.display = "none";
        return; 
      }
      $.ajax({
        type: 'GET',
        url: "http://localhost:8000/api/explain/" + document.getElementById("query").value + "/" + document.getElementById("models").value + "/" + document.getElementById("levels").value,
        headers: { "Authorization": "{{ Authorization }}"},
        success: function (data) {
          console.log("Success", data) 
          document.getElementById("query-heading").innerHTML = document.getElementById("query").value;
          document.getElementById("prompt").innerHTML = data.prompt;
          document.getElementById("alert").style.display = "none";
          document.getElementById("loader").style.display = "none";
        }
      });
    }          
  </script>
{% endblock %}